<div th:replace="fragments/header"></div>

<div th:fragment="sign-in" class="text-center centre-block margin-top-1" >
    <form action="#" method="post" th:action="@{/auth/signin}" th:object="${user}" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" th:field="*{username}" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <span>Do not have an account <a th:href="@{/sign-up}">sign up here</a></span>
        <br><br>

        <button class="btn btn-lg btn-success btn-block" type="submit">Login in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>


