<div th:replace="fragments/header"></div>

<div class="row margin-top-1">
    <div class="col">
        <div class="card text-center centre-block">
            <div class="card-header"><b>Note</b></div>

            <div class="card-body">
                <ol>
                    <li>To play this game the user will have to pay the sum of 500 naira only</li>
                    <li>Instruction...</li>
                    <li>Instruction...</li>
                    <li>Instruction...</li>
                </ol>
                <em><small>This payment is processed with Paystack, therefore, its safety is guaranteed</small></em><br>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-lg btn-success margin-left-1" th:href="@{/signin}" role="button">
                       Sign in to play
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-lg btn-success margin-left-1" th:href="@{/payment}" role="button">
                        Make payment
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>