<div th:replace="fragments/header"></div>

<div class="row margin-top-1">
    <div class="col">
        <div class="card text-center centre-block">
            <div class="card-header">Instructions</div>

            <div class="card-body">
                <p>About this quiz ...</p>
                <p>Please, adhere to the following instructions:</p>
                <ol>
                    <li>Instruction...</li>
                    <li>Instruction...</li>
                    <li>Instruction...</li>
                </ol>
                <em>Click the button below when you're ready!</em><br>
                <a class="btn btn-lg btn-success margin-left-1" th:href="@{/quiz}" role="button">
                    Start game
                </a>
            </div>

        </div>
    </div>
</div>

