<div th:replace="fragments/header"></div>

<main role="main">

    <div class="row margin-bottom-1">
        <div class="col-sm-12 col-lg-7">
            <div class="fluffy-centre">
                <div class="margin-top-1">
                    <p class="display-4">Welcome to MWE Football Fan Contest</p>
                    <p class="font-weight-bold">Best destination for Football Fan contest</p>
                </div>
                <div class="margin-top-2">
                    <h6>~ How well do you enjoy football?</h6>
                    <h6>~ How much of a Football Fan are you?</h6>
                    <h6>~ How well do you know your club?</h6>
                </div>
                <div class="margin-top-2 text-success">
                    <a class="btn btn-lg btn-success margin-left-1" th:href="@{/aboutquiz}" role="button">
                        Challenge your knowledge
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5">
            <img class="rounded img-fluid float-right" th:src="@{/images/mikel-obi.jpg}" alt="promoter's image"  style="width:100%">
        </div>
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" height="140" width="140" th:src="@{/images/avatar.png}">
                <h2>Winner</h2>
                <p>Be the first winner</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" height="140" width="140" th:src="@{/images/avatar.png}">
                <h2>Winner</h2>
                <p>Be the first winner</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" height="140" width="140" th:src="@{/images/avatar.png}">
                <h2>Winner</h2>
                <p>Be the first winner</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr class="featurette-divider">




        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Original jersey</h2>
                <p class="lead">Win customised jersey</p>
                <div class="margin-top-2 margin-bottom-1 margin-left-2">
                    <a class="btn btn-lg btn-success" th:href="@{/signup}" role="button">
                        Let's play
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <img th:src="@{/images/hung-jersey.jpg}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Smartphones</h2>
                <p class="lead">Avail yourself the chance to win powerful smartphones</p>
                <a class="btn btn-lg btn-success margin-left-1" th:href="@{/signup}" role="button">
                    Win Yours Now
                </a>
            </div>
            <div class="col-md-5 order-md-1">
                <img th:src="@{/images/phones.jpg}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Win lots of other great prizes <span class="text-muted">Wow!</span></h2>
                <p class="lead">Quiz can not be more fun</p>
                <a class="btn btn-lg btn-success margin-left-1" th:href="@{/signup}" role="button">
                    Grab One Now
                </a>
            </div>
            <div class="col-md-5">
                <img th:src="@{/images/electronic-gadgets.jpg}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

    </div><!-- /.container -->

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 MWE &middot; <a href="#">Terms</a></p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
