<div th:replace="fragments/header"></div>

<div class="row margin-top-1">
    <div class="col">
        <div class="card text-center centre-block">
            <div class="card-body">
                <img class="rounded-circle" height="140" width="140" th:src="@{/images/avatar.png}">
                <div class="margin-top-2">
                    <p><span class="text-muted">Email: </span><a href="mailto:genevieve.ezeamama@gmail.com">genevieve.ezeamama@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>